@import "@styles/mixins.less";

.login-container {
  min-height: 100%;
  background: linear-gradient(120.53deg, #f0f5ff 40.14%, #d1cdf2 95.88%);
  box-sizing: border-box;
  padding-bottom: 32px;
  .spacing-for-media-all({ padding-top: 72; });
}

.login-youlify-logo {
  margin: 0 auto;
  width: 148.84px;
  height: 40px;
  background: url("../../Assets/images/youlify_logo_dark.svg") no-repeat center /
    100%;
}

.login-box {
  margin: 0 auto;
  width: 438px;
  background-color: #ffffff;
  box-sizing: border-box;
  .spacing-for-media-all({
    margin-top: 48;
    padding: 32;
    border-radius: 16
  });
  .media({
    width: 312px;
  }, xs);
  &-title,
  &-description {
    font-family: Elza;
    color: #1d212a;
    text-align: center;
  }
  &-title {
    line-height: 28px;
    font-size: 20px;
    font-weight: 600;
  }
  &-description {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.login-box-form {
  margin: 0 auto;
  .spacing-for-media-all({
    margin-top: 24;
  });
  &-alert {
    margin-bottom: 12px;
  }
  &-datepicker,
  &-submit-btn {
    width: 100%;
  }
}

.login-disclaimer-message {
  margin: 0 auto;
  width: 438px;
  .spacing-for-media-all({
    margin-top: 48;
  });
  .media({
    width: 312px;
  }, xs);
  &-title,
  &-description {
    font-family: Elza;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #50545f;
  }
  &-title {
    font-weight: 600;
  }
  &-description {
    margin-top: 4px;
    &-link,
    &-link:link,
    &-link:hover,
    &-link:visited,
    &-link:active {
      color: #50545f;
      text-decoration: underline;
    }
    &-footer {
      margin-top: 32px;
    }
  }
}
