.step-form-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 72px;
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow-y: auto;
}
.step-form-main {
  position: relative;
  flex-grow: 1;
}
.step-form-title {
  line-height: 28px;
  font-family: Elza-Semibold;
  font-size: 20px;
  color: var(--Root-tokens-Gray-Gray-900, #141414);
}
.step-form-fields {
  padding-top: 48px;
}
.step-form-toolbar {
  display: flex;
  justify-content: space-between;
}
