@import "@styles/mixins.less";

.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d40cb;
  z-index: 100;
  .media({
    padding: 24px 32px;
  }, xs, sm);
  .media({
    padding: 24px 40px;
  }, md, lg);
  .media({
    padding: 32px 64px;
  }, xl);
  &-left {
    display: flex;
  }
  &-logo {
    width: 100px;
    height: 24px;
    background: url("../../Assets/images/youlify_logo.png") no-repeat center /
      100%;
  }
}
